<span style="color:#000000; background-color:#d3d3d3;">商品一覧</span>

<div class="text-right">
<%= link_to "+", new_admin_item_path, class:"btn btn-outline-dark" %>
</div>

<table class="table table-sm">
  <thead>
    <tr class="table-warning">
      <th scope="col">商品ID</th>
      <th scope="col">商品名</th>
      <th scope="col">税込価格</th>
      <th scope="col">ステータス</th>
    </tr>
  </thead>
  <tbody>
  <% @items.each do |item| %>
    <tr>
      <td><%= item.id %></td>
      <td><%= link_to item.name, "/admin/items/#{item.id}" %></td>
      <td><%= item.price %></td>
      <td>
        <font color="green">
        <%= item.is_active %></td>
        </font>
    </tr>
    <% end %>
  </tbody>
</table>


<%= paginate @items %>
