
<h6>商品新規登録</h6>
<%= form_with model:@item, url:'/admin/items/new', local:true do |f| %>
<!--<div class="field"></div>-->

<div class="text-center">
<h6>商品画像</h6><%= f.attachment_field :image %>


<h6>商品名</h6>
<%= f.text_field :name %>
<%#= text_field_tag "name", "商品名" %>
<!--<input type="text" placeholder="商品名" ></input>-->


<h6>商品説明</h6>
<%= f.text_area :introduction %>
<!--<input type="text" placeholder="ここに説明文を記述します" ></input>-->

<h6>税込価格</h6>
<%= f.text_field :price %>円
<!--<input type="text" placeholder="1100" ></input>-->

<h6>販売ステータス</h6>
<%= f.radio_button :sales_status, :on_sale %>
<%= f.label :sales_status_on_sale, '販売中' %>
<%= f.radio_button :sales_status, :discontinued %>
<%= f.label :sales_status_discontinued, '販売中止' %>

<br>
<%= f.submit '新規登録', class: "btn btn-success" %>

<% end %>
</div>