<strong>商品詳細</strong>
<div class="container">
  <div class="row">
    <div class="col-sm">
    <%= attachment_image_tag @item, :image, format: 'jpeg', size: "300x300" %>
    </div>
    <div class="col-sm">
      <strong>商品名</strong>
      <p><%= @item.name %></p>

      <strong>商品説明</strong>
      <p><%= @item.introduction %></p>

      <strong>税込価格</strong>
      <p><%= @item.price %>円</p>

      <strong>販売ステータス</strong>
      <p><%= @item.is_active %></p>
      <%= link_to "編集する", edit_admin_item_path, class: "btn btn-success" %>
    </div>

  </div>
</div>