<h6><%= current_customer.full_name %>さんの会員情報編集</h6>

<%= form_with model:@customer, url:"/admin/customers/#{@customer.id}", local:true do |f| %>

<h6>会員ID</h6>
<%= @customer.id %>

<h6>氏名</h6>
<%= f.text_field :last_name %> <%= f.text_field :first_name %>

<h6>フリガナ</h6>
<%= f.text_field :last_name_kana %> <%= f.text_field :first_name_kama %>

<h6>郵便番号</h6>
<%= f.text_field :postal_code %>

<h6>住所</h6>
<%= f.text_field :adress %>

<h6>電話番号</h6>
<%= f.text_field :telephone_number %>

<h6>メールアドレス</h6>
<%= f.text_field :email %></br>
<br>
<h6>会員ステータス</h6>
<%= f.radio_button :receive_news, '0' %>
<%= f.label :status, '有効', value: 0 %>
<%= f.radio_button :receive_news, '1' %>
<%= f.label :status, '退会', value: 1 %>
<br>
<%= f.submit '変更を保存', class: "btn btn-success" %>
<% end %>