<!--管理者トップページ-->
<h5>注文履歴一覧</h5>

<table>
  <thead>
    <tr>
      <th>購入日時</th>
      <th>購入者</th>
      <th>注文個数</th>
    </tr>
  </thead>
  <tbody>
     <%= @orders.each do |order| %>
     <%# genre.genre_id.each do |genre| %>
     <tr>
       <td><%= order.created_at %></td>
       <td><%= link_to order.created_at, "/admin/orders/#{order.id}" %></td>
       <td><%= customer.name %></td>
       <td><%= order.amount %></td>
     </tr>
       <% end %>
       <%# end %>
  </tbody>
</table>



<table class="table">
  <thead>
    <tr class="table-secondary">
      <th scope="col">購入日時</th>
      <th scope="col">購入者</th>
      <th scope="col">注文個数</th>
      <th scope="col">注文ステータス</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">１</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>