<h6>注文情報確認</h6>

  <table>
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
    </tr>
  </thead>
  <tbody>
      <% @cart_items.each do |item| %>
     <tr>
       <td><%= item.item.name %></td>
       <td><%= item.item.price %></td>
       <td><%= item.amount %></td>
       <td><%= (item.item.price * item.amount) %></td>
     </tr>
       <% end %>
  </tbody>
</table>
<br>
<strong>送料</strong>
<%= @order.shipping_cost %>円
<br>

<strong>支払方法</strong>
<%= form_with model:@order, url:orders_confirm_path, local:true do |f| %>
<%= f.hidden_field :payment_method %>
<%= @order.payment_method %>
<br>

<strong>お届け先</strong>

<%= f.hidden_field :address %>
〒<%= @order.postal_code %>
<%= @order.address %>
<br>
<%= @order.name %>

<%= f.submit '注文を確定する', class: "btn btn-success" %>
<% end %>