<h6>注文履歴一覧</h6>

 <table class="table table-inverse">
    <thead>
      <tr class="table-warning">
      <th>注文日</th>
      <th>配送先</th>
      <th>注文商品</th>
      <th>支払金額</th>
      <th>注文詳細</th>


      </tr>
    </thead>

  <tbody>
    <% @orders.each do |order| %>
    <%# @cart_items.each do |item| %>
      <tr>
      <td><%= order.created_at %></td>
      <td>
        〒<%= order.postal_code %>
          <%= order.address %><br>
          <%= order.name %>
      </td>
      <td>
        <%#= order.cart_items.each do |item| %>
        <%#= item.item.name %>
      </td>
      <% end %>
      <td><%#= (item.item.price * item.amount) %>円</td>
      <td><%= link_to "表示する", order_path(order.id), class: "btn btn-primary" %></td>
      </tr>

      <% end %>
  </tbody>


