<h5>注文情報入力</h5>

<h6>支払方法</h6>

<%= form_with model: @order, url: orders_confirm_path, id: 'orders_confirm', class:'orders_confirm', local: true do |f| %>
<%= f.radio_button :patment_method, :credit_card %>
<%= f.label :patment_method_bank_transfer, 'クレジットカード' %>
<br>
<%= f.radio_button :patment_method, :bank_transfer %>
<%= f.label :patment_method_credit_card, '銀行振込' %>
<% end %>
<br>

<h6>お届け先</h6>

<%= form_with model: @order, url: orders_confirm_path, id: 'orders_confirm', class:'orders_confirm', local: true do |f| %>

<%= f.radio_button :receive_news, '0' %>
<%= f.label :address, 'ご自身の住所', value: 0 %>
<br>
<%= f.radio_button :receive_news, '1' %>
<%= f.label :address, '登録済住所から選択', value: 1 %>
<br>
<%= f.radio_button :receive_news, '2' %>
<%= f.label :address, '新しいお届け先', value: 2 %>
<br>
<% end %>


<%=form_with model: @order,url: orders_confirm_path, id: 'oeder', class:'order', local: true do |f| %>
 <div class="field">
    <%= f.label :postal_code, "郵便番号（ハイフンなし）" %>
    <%= f.text_field :postal_code, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :address, "住所" %>
    <%= f.text_field :address, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :name, "宛名" %>
    <%= f.text_field :name, autofocus: true %>
  </div>

<%= f.submit '確認画面へ進む', class: "btn btn-primary" %>
  <% end %>



