<br>
<div class="text-center">
<span style="color:#000000; background-color:#d3d3d3;">管理者ログイン</span>
</div>

<%= form_with model: @admin, url: admin_session_path, local: true do |f| %>
  <div class="text-center">
    <%= f.label :メールアドレス %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="text-center">
    <%= f.label :パスワード %>
   <%= f.password_field :password, autocomplete: "current-password" %>

  <div class="actions">
    <%= f.submit "ログイン" , class: "btn btn-primary" %>
  </div>
<% end %>

