<%= attachment_image_tag @item, :image, format: 'jpeg', size: "200x200" %>

<h1><%= @item.name %></h1>

<p><%= @item.introduction %></p>

<p>¥<%= @item.price %></p>

個数選択
<%= link_to "カートに入れる", cart_items_path %>
